.calculator {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 40px;
  width: 400px;
  background-color: #f2f2f2;
  border: 3px solid #00cba9;
}
.calculator-screen {
  width: 100%;
  height: 100px;
  background-color: darkgray;
  color: white;
  font-size: 50px;
  border-radius: 25px;
  border: 3px solid #00cba9;
  padding: 0 20px;
  box-sizing: border-box;
  /* font-family: "consoloas", sans-serif; */
}
.calculator-key {
  width: 100%;
}
.row {
  display: flex;
  padding: 2px 2px;
}

button {
  height: 90px;
  width: 100px;
  /* background-color: #; */
  border-radius: 25px;
  border: 1px solid #00cba9;
  border-color: #white;
  font-size: 32px;
  /* font-family: "Ubuntu Mono "; */
  /* color: white; */
  outline: none;
}

.all-clear,
.zero-btn {
  background-color: #f7f7f7;
  color: #00cba9;
  width: 50%;
}

.operator,
.equal-sign {
  background-color: #00cba9;
  color: white;
}
button:hover {
  background-color: #00cba9;
  color: white;
}

.operator:hover,
.equal-sign:hover,
.number,
.precentage {
  background-color: white;
  color: #00cba9;
}
