.calculator {
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  width: 400px;
  /* border-radius: 40px;
  background-color: #f2f2f2;
  border: 3px solid #00cba9; */
}
.calculator-screen {
  width: 100%;
  height: 100px;
  background-color: #fff;
  color: #405d27;
  text-align: right;
  font-size: 36px;
  border: none;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 25px;
  margin-bottom: 20px;
  /* border: 2px solid #405d27; */
  /* 
  padding: 0 20px;
  */
}
.calculator-key {
  width: 100%;
}
.row {
  display: flex;
  /* padding: 2px 2px; */
}

button {
  height: 80px;
  background-color: grey;
  border: 1px solid white;
  font-size: 32px;
  color: white;
  width: 50%;
  outline: none;
  /* border-radius: 25px; */
}
.all-clear {
  border-radius: 25px 0px 0px 0px;
}
.br1 {
  border-radius: 0px 25px 0px 0px;
}
.zero-btn {
  border-radius: 0px 0px 0px 25px;
}
.equal-sign {
  border-radius: 0px 0px 25px 0px;
}

.all-clear,
.zero-btn {
  width: 50%;
  /* background-color: #f7f7f7;
  color: #00cba9; */
}

.operator,
.equal-sign {
  background-color: #ffcc5c;
  color: black;
  border: 1px solid white;
}
button:hover {
  background-color: #82b74b;
  /* color: white; */
}

.operator:hover,
.equal-sign:hover {
  background-color: #ffeead;
  /* color: #00cba9; */
}
/* this comment fix  git add and source  */
